*{
    margin:0;
    padding:0;
}
.First{
    height:300px;
    background-color: #1F2937;
    
}
.header{
    width: 880px;
    margin-right: auto;
    margin-left:auto;
    padding: 10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    color:white;
    gap:20px;    

 }
.logo{
    margin-right: auto;
}

.details{
    
    width: 880px;
    margin-right: auto;
    margin-left:auto;
    padding: 10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
    gap:20px;    
    margin-top: 40px;
    flex:1 1 auto;
}
.text{
    /* border:2px solid black; */
    margin-right:auto;
    
}
button{
    height:40px;
    width:80px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:#1F2937;
    margin-top:30px;
    background-color: #3882F6;
    color:white;
    
}
.picture{
    /* border:2px solid black; */
     height:150px;
    width:500px; 
    margin-left:auto;
    background-color: azure;
}
a{
    color:white;
    text-decoration:none;

}
a:hover{
    color:black;
}